.status-container {
    background: linear-gradient(to right, #ff3737, #ff3737, #f3f586, #ffdc19, #38fa62, #4fff92);
    background-size: 400% 400%;
    transition: all 0.3s;
}

.connected {
    background-position: 100% 100%;
}

.connecting {
    background-position: 50% 50%;
}

.disconnected {
    background-position: 0% 0%;
}