*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.h-50 {
  height: 50vh !important;
}

.mt-70{
  margin-top: 70px !important;
}

.mb-10{
  margin-top: 10px !important;
}

@font-face {
  font-family: 'SFProText-Regular';
  src: local('Lato'), url(./fonts/SFProText-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'SFProText-Medium';
  font-weight: 900;
  src: local('Lato'), url(./fonts/SFProText-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'SFProText-Bold';
  font-weight: 900;
  src: local('Lato'), url(./fonts/SFProText-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'SFProText-Heavy';
  font-weight: 900;
  src: local('Lato'), url(./fonts/SFProText-Heavy.ttf) format('truetype');
}

@font-face {
  font-family: 'SFProText-SemiBold';
  font-weight: 900;
  src: local('Lato'), url(./fonts/SFProText-Semibold.ttf) format('truetype');
}
